@import "tailwindcss";

:root {
  color-scheme: light dark;
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Apply background gradient to body or any container */
body {
  background-color: #000000; /* Fallback */
  background-image: radial-gradient( circle farthest-corner at 6.3% 21.8%,  rgb(36, 11, 23) 0%, rgb(4, 12, 26) 90% );
}

html {
  scroll-behavior: smooth;
}