@import "tailwindcss";

:root {
  color-scheme: light dark;
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Apply background gradient to body or any container */
body {
  background-image: linear-gradient(to right, #2c2c2c 0%, #000000 100%);
  background-color: #000000; /* Fallback */
}


html {
  scroll-behavior: smooth;
}